@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    font-family: 'Questrial', sans-serif !important;
}

a, p, h1, h2, h3, h4 {
    font-family: 'Questrial', sans-serif !important;
}

@layer base {
  html {
    font-family: 'Questrial', sans-serif !important;
  }
}
